<head>
  {% if site.inc_before_head %}
  {% include {{ site.inc_before_head }} %}
  {% endif %}
 
  {% include git-wiki/sections/head/meta.html %}
  {% include git-wiki/sections/head/scripts.html %}
  {% include git-wiki/sections/head/styles.html %}

  {% if site.inc_after_head %}
  {% include {{ site.inc_after_head }} %}
  {% endif %}
  <script>
  window.MathJax = {
    tex: {
      inlineMath: [['$', '$'], ['\\(', '\\)']],
      displayMath: [['$$', '$$'], ['\\[', '\\]']]
    },
    svg: {
      fontCache: 'global'
    }
  };
  </script>

  <script type="text/javascript"
    id="MathJax-script"
    async
    src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
  </script>
</head>
