<div class="custom-sidebar-section" style="font-size:1em;">
  {% assign menu_page = site.pages | where: "name", "Menu.md" | first %}
  {% if menu_page %}
    <div style="margin-bottom: 7px;">
      <span style="color:#222;">메뉴</span>
      {% if site.disable_edit != true %}
        <a href="{{ site.github.repository_url }}/edit/{{ site.git_branch }}/wiki/Menu.md"
           style="color:#1976d2; text-decoration:underline; font-size:1em; font-weight:normal; margin-left:3px;">
          (편집)
        </a>
      {% endif %}
    </div>
    <div class="sidebar-markdown-list" style="line-height:1.7;">
      {{ menu_page.content | markdownify }}
    </div>
  {% else %}
    <div style="color:#888;">Menu.md 파일이 없습니다.</div>
  {% endif %}
</div>
