<!-- _includes/custom_sidebar.html -->
<div class="custom-sidebar-section">
  <h5>메뉴</h5>
  <ul>
    <li><a href="/wiki/main_page">메인</a></li>
    <li><a href="/wiki/TILs">TIL</a></li>
    <li><a href="/wiki/review">복습 목록</a></li>
    <li><a href="/wiki/thinking">정글 속 사유</a></li>
  </ul>
  {% if site.disable_edit != true %}
  <!-- edit 버튼(현재 페이지 기준) -->
  <div style="margin-top: 10px;">
    <a href="{{ site.github.repository_url }}/edit/{{ site.git_branch }}/wiki/{{ page.name }}" 
       class="wiki-tool-button">
       편집
    </a>
  </div>
  {% endif %}
</div>
